.img-book{
    /* border: 1px solid black; */
    padding: 15px;
    margin-left: 4ch;
    width: 9vw;
    height: 22vh;

    
}
.img-div{
    /* border: 1px solid black; */
    background-color: rgb(225, 225, 225);

}
.description-book{
    padding: 1.5ch;
}
.author{
    font-size: small;
    margin-top: 3px;
    
}
.rating{
    display: flex;
    margin-top: 1ch;
}
.price-b{
    display: flex;
    margin-top: 1ch;
}
.discount{
    text-decoration: line-through;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 1ch;
}
.rating-no{
        font-size: small;
        background-color: green;
        color: white;
        width: 2vw;
        padding: 2px;
}
#paper-book{
    width: 15vw;
    height:auto;
    margin-left: 10ch;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    #paper-book{
        width: 60vw;
        height: 45vh;

    }
    .rating-no{
        font-size: small;
        background-color: green;
        color: white;
        padding: 2px;
        width: 10vw;
}
}