.Main-SignUp
{
    display:flex;
    justify-content:center;
     margin-top:17ch ;
   /* margin-left: 10ch; */
    width:45vw;
    height: 60vh;
    /* border: 1px solid black; */
    /* background-color: rgb(95, 145, 188); */
}
.signup-container
{
    display: flex;
    border:  1px solid white;
    width: 25vw;
    height: auto;
    padding-bottom: 4vh;
    /* z-index: -1px; */
    position: absolute;
    margin-left: 39ch;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(1, 1, 1, 2);
}
.photo-container
{
    display: flex;
    justify-content:flex-start;
    margin-top: 4ch;
    width: 27vw;
    height: 55vh;
    position: relative;
    margin-right: 30ch;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}
.pic{
     width: 15vw;
     height: 33vh;
      border-radius: 50%;
      margin-left: 30px;
      margin-top: 20px;
}
.main {
    display:flex;
    justify-content:center;
    /* margin-top:20ch ; */
    /* margin-left: 50ch; */
    width:99vw;
    height: 97vh;
    /* border: 1px solid black; */
    background-color: #e0e0e0; 
}
.pic-div{
    margin-top: 3ch;
    width: 90vh;
}
.para-div{
    margin-top: 3ch;
    margin-left: 7ch;
}
.heading-su
{
    height: 50px;
    display: flex;
    justify-content:space-between;
}
.login
{
    margin-left: 6ch;
    font-size: 20px;
    color: gray;
    cursor: pointer;

}
.signup{
    font-size: 20px;
    cursor: pointer;
    margin-right: 2ch;
}
.Uname {
    width: 17vw;
    height: 4vh;
}
.signup-info
{
    /* margin-top: 4ch; */
    margin-left: 7ch;
    flex-direction: column;
}
#submit-su {
    width: 17vw;
    height: 4vh;
    color: #e0e0e0;
    /* padding-bottom:; */
    background-color: rgb(119, 3, 3);
}
.dash
{
    width: 18px;
    height: 6px;
    background-color: rgb(119, 3, 3);
    margin-left: 28ch;
}
.uerror{
    color: red;
}
/* .input-s{
     border: 1px solid black;
     width: 17vw;
     border-radius: 4px;
     /* height: 2px; 
     display: flex;
     justify-content: center;
     padding: 10px;
} */
#userName {
    border: 1px solid black;
    width: 17vw;
    border-radius: 4px;
    /* height: 2px; */
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
}
#password{
    border: 1px solid black;
    width: 17vw;
    border-radius: 4px;
    /* height: 2px; */
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
}
#email{
    border: 1px solid black;
    width: 17vw;
    border-radius: 4px;
    /* height: 2px; */
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;


}
#phone{
    border: 1px solid black;
    width: 17vw;
    border-radius: 4px;
    background-color: white;
    /* height: 2px; */
    display: flex;
    justify-content: center;
    padding: 10px;

}
@media screen and (max-width: 700px) {
    /* Adjustments for small screens */
    .Main-SignUp, .signup-container ,.dash{
        width: auto;
        margin-top: 0px;
        margin-right: 0px;
    }
    .photo-container, .pic-div {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    .Uname, #userName, #password, #email, #phone, #submit-su {
        width: auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 1300px) {
    /* Adjustments for medium-sized screens */
    .Main-SignUp, .signup-container {
        width: auto;
        margin-top: 0px;
    }
    .Uname, #userName, #password, #email, #phone, #submit-su {
        width: 225px;
    }
}